@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0 20%;
}

h4 {
  font-size: 1rem;
  color: #3a3a3a;
}

h3 {
  font-size: 1.5rem;
  color: #3a3a3a;
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: #3a3a3a;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 2rem;
  }
}